/* Exemple de CSS personalitzat */
body {
    font-family: Arial, sans-serif;
    background-color: #f6f0f0;
    text-align: justify;
}

h1{

    border-bottom: solid black 5px;
}

h1, h2, h3{
    color: rgb(63, 14, 199);
}

.md-typeset .admonition.example,
.md-typeset details.example {
  border-color: #3f51b5;
  background-color: #f0f2ff;
}  

/* Cambiar el color de los diagramas Mermaid */
.md-typeset .mermaid {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding: 10px;
}
